.fetchBox {
  position: absolute;
  right: 1rem;
  top: 6rem;
  min-height: 20rem;
  max-height: 30rem;
  width: 20rem;
  background: var(--route-bg);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px dashed var(--text-1);
  color: var(--text-1);
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5rem;
  transition: all 0.2s ease-in;
  z-index: 100;
  // word-break: break-all;
  // word-wrap: break-word;
  .queryTime {
    padding: 0 0 0.3rem 0;
    // background: var(--text-1);
    color: var(--text-2);
    text-align: center;
    border-bottom: 2px dashed var(--text-1);
    margin-bottom: 0.3rem;
  }
}
.show {
  display: block !important;
}

@media (max-width: 1000px) {
  .fetchBox {
    display: none;
  }
}
