.background {
  background: var(--bg-1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .backgroundOverlay{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,transparent 50%,var(--bg-2) 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    img{
      height: 100vh;
      position: absolute;
      bottom: 0;
      object-fit: cover;
    }
    .body {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow-x: hidden;
      z-index: 2;
    }
  }
}
@media (max-width: 769px) {
  .background {
    .backgroundOverlay{
      background: linear-gradient(to top,transparent,var(--bg-2) 70%);
      img{
        height: 70%;
        // width: 100vw;
      }
    }
  }
}
